#!name=⚡️ 网速测试 
#!desc=测试当前节点的延迟和下行速率
#!openUrl=https://github.com/getsomecat/
#!author= @wuhu_zzz @xream @keywos @整点猫咪 技术指导：整点薯条

#[task_local]
event-interaction https://raw.githubusercontent.com/getsomecat/Qx/main/Net_Speed.js, tag=⚡️ 网速测试, img-url=bolt.circle
