#!name=⚡️ 网速测试 
#!desc=
#!openUrl=
#!author=
#!homepage=
#!manual=
#!icon=
#
[task_local]
event-interaction https://raw.githubusercontent.com/getsomecat/Qx/main/Net_Speed.js, tag=⚡️ 网速测试, img-url=bolt.circle
